<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="SidebarFragment">
<link rel="stylesheet" th:href="@{/css/sidebar.css}">
<div class="menubar-left">
  <div class="menubar-info">
    <h3 class="today-keyword">마이 페이지</h3>
  </div>
  <div class="menubar-list">
    <ul>
      <a href="/myPage/myPosts"><li>작성 게시글 보기</li></a>
      <a href="/myPage/myReplies"><li>작성 댓글 보기</li></a>
      <a href="/myPage/updateMember"><li>회원정보 수정</li></a>
    </ul>
  </div>
</div>
</html>