@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap');


.board-detail {
	width: 900px;
	margin: 50px auto;
	border: 1.5px solid rgb(200,200,200);
	padding: 50px 10px 30px 10px;
}

.title, .extra, .content, .write-reply {
	width: 90%;
	margin: 0 auto;
}

.title {
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
}

.extra-middle {
	padding: 10px 0;
}

.extra-middle span {
	font-size: 12px;
}

.extra-middle .writer-name {
	margin-left: 15px;
}

pre {
    font-family: "Nanum Gothic", sans-serif;
}

.content pre {
	margin: 50px 20px 0 20px;
	font-size: 14px;
}

.reply {
	width: 90%;
	margin: 50px auto 0 auto;
}

.reply-p {
	border-bottom: 1px solid #ccc;
}

.reply-p p {
	font-size: 14px;
	margin-bottom: 8px;
	margin-left: 4px;
}

.reply-wrap, .re-reply-wrap {
    padding: 10px;
}

/*.reply-wrap .reply-con-wrap,
.re-reply-wrap .reply-con-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}*/

.reply-writer-and-regdate {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: baseline;
}

.reply-writer-and-regdate .reply-writer {
    margin-right: 10px;
}

.reply-content-wrap {
    /*margin-top: 3px;*/
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.origin-reply-writer {
    margin-right: 5px;
    color: blue;
}

.function-wrap {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.update-delete-wrap {
    display: flex;
    flex-direction: row;
}

.reply-wrap .update-reply, .reply-wrap .delete-reply,
.re-reply-wrap .update-reply, .re-reply-wrap .delete-reply{
    /*width: 40px;
    height: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;*/
    margin-top: 8px;
    margin-left: 8px;
    font-size: 12px;
}

.reply-wrap .write-re-reply,
.re-reply-wrap .write-re-reply {
    /*width: 80px;
    height: 30px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;*/
    margin-top: 8px;
    margin-left: 8px;
    font-size: 12px;
}

.reply-writer {
	margin-bottom: 10px;
	font-size: 14px;
}

.hiding-div form, .hiding-reply-div form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiding-div textarea,
.hiding-reply-div textarea{
    width: 100%;
    height: 60px;
    margin-top: 15px;
    resize: none;
}

.hiding-div .hiding-div-btn,
.hiding-reply-div .hiding-div-btn {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(0, 128, 255);
    margin-top: 10px;
    color: white;
}

.re-reply-wrap { /* 대댓글은 한칸 옆으로 밀기 */
    margin-left: 30px;
	/*display: flex;
	flex-direction: row;
	justify-content: space-between;*/
}

.write-reply {
	margin-top: 100px;
	border: 1px solid rgb(200,200,200);
	padding: 10px;
	border-radius:3px;
}

.write-reply .reply-writer {
	height: 30px;
	margin-left: 15px;
	border: none;
}

.write-reply .reply-content-wrap {
	margin-top: 15px;
}

.write-reply .reply-content-wrap textarea {
	width: 100%;
	height: 60px;
	margin-top: 15px;
	resize: none;
}

.write-reply .reply-button-wrap {
	display: flex;
	justify-content: center;
}

.write-reply .reply-button {
    margin-top: 5px;
	padding: 5px 7px;
	background-color: white;
	border: 1px solid #ccc;
}

.heart-wrap {
	width: 80%;
	margin: 50px auto 0 auto;
	display: flex;
	justify-content: center;
}

.heart-wrap .heart {
	width: 70px;
	height: 70px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.heart i {
	font-size: 20px;
	/*color:rgb(255, 0, 0);*/
	margin-bottom: 3px;
}

button, input[type="submit"] {
	cursor: pointer;
}

.button-wrap {
	width: 80%;
	margin: 20px auto 0 auto;
	display: flex;
	justify-content: right;
}

.button-wrap button {
	padding: 5px 7px;
	margin: 0 5px 20px 5px;
	background-color: white;
	border: 1px solid #ccc;
}

/* 공지사항 부분 */
.notice-content {
    height: 500px;
}

.notice-content pre {
    margin: 25px;
}