h3 {
        margin-top: 50px;
        margin-left: 30px;
      }

      .contents {
        margin: 30px;
        width: calc(100%-30px);
        /* background-color: salmon; */
      }

      .contents table {
        border-collapse: collapse;
        font-size: 14px;
        margin: 20px auto;
        width: 100%;
        border: 1px solid #ccc;
      }

      .contents table tr th,
      .contents table tr td {
        padding: 5px 0;
        border: 1px solid #ccc;
      }
      
      .write {
		  border: 1px solid #ccc
	  }
      
      .bottom-btn button,
      input[type="submit"] {
        padding: 5px 7px;
        border-radius: 2px;
        cursor: pointer;
      }

      .insert-btn {
        background-color: white;
        border: 1px solid #ccc;
        display: block;
        margin: 15px auto;
      }
      
      .select-board {
		  margin-left: 50px;
	  }
	  
	  .select-board .category {
		  width: 200px;
		  height: 30px;
		  border: none;
		  border-bottom: 1px solid #ccc;
		  margin: 15px 0;
	  }

      .title {
        width: 90%;
        height: 30px;
        margin: 15px 0 15px 50px;
        border: none;
        border-bottom: 1px solid #ccc;
      }

      textarea {
		  border: none;
		  margin-top: 15px;
		  resize: none;
        /*border: 1px solid #ccc;*/
        
      }

      .write-area {
        width: 100%;
        height: 150px;
      }