<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout/mainLayout}"
	  layout:fragment="Content"
>
<head>
	<title>테스트 페이지 </title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
	<div class="change-page">
		<div class="ttl">
			<p class="subTtl">금주의 인기글</p>
			<a href="/write">
				<input class="btn" type="button" value="글쓰기" />
			</a>
		</div>
		<div class="topPost">
			<div class="topTable">
				<div class="category">가벼운고민</div>
				<table>
					<thead>
					<tr>
						<th>제목</th>
						<th>글쓴이</th>
						<th>추천수</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="freeBoard:${freeBoard}">
						<td>
							<a th:href="@{/postDetail(pidx=${freeBoard.pidx})}"
							   th:text="${freeBoard.title}">
							</a>
						</td>
						<td th:text="${freeBoard.writer}"></td>
						<td th:text="${freeBoard.heartCount}">
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="topTable">
				<div class="category">친구/연애</div>
				<table>
					<thead>
					<tr>
						<th>제목</th>
						<th>글쓴이</th>
						<th>추천수</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="friendship:${friendship}">
						<td>
							<a th:href="@{/postDetail(pidx=${friendship.pidx})}"
							   th:text="${friendship.title}">
							</a>
						</td>
						<td th:text="${friendship.writer}"></td>
						<td th:text="${friendship.heartCount}">
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="topTable">
				<div class="category">인생고민</div>
				<table>
					<thead>
					<tr>
						<th>제목</th>
						<th>글쓴이</th>
						<th>추천수</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="life:${life}">
						<td>
							<a th:href="@{/postDetail(pidx=${life.pidx})}"
							   th:text="${life.title}">
							</a>
						</td>
						<td th:text="${life.writer}"></td>
						<td th:text="${life.heartCount}">
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="topTable">
				<div class="category">취업/직장</div>
				<table>
					<thead>
					<tr>
						<th>제목</th>
						<th>글쓴이</th>
						<th>추천수</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="job:${job}">
						<td>
							<a th:href="@{/postDetail(pidx=${job.pidx})}"
							   th:text="${job.title}">
							</a>
						</td>
						<td th:text="${job.writer}"></td>
						<td th:text="${job.heartCount}">
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="topTable">
				<div class="category">자유게시판</div>
				<table>
					<thead>
					<tr>
						<th>제목</th>
						<th>글쓴이</th>
						<th>추천수</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="daily:${daily}">
						<td>
							<a th:href="@{/postDetail(pidx=${daily.pidx})}"
							   th:text="${daily.title}">
							</a>
						</td>
						<td th:text="${daily.writer}"></td>
						<td th:text="${daily.heartCount}">
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>