<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/adminLayout}"
      layout:fragment="Content"
>
<head>
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/manage.css}">
</head>
<body>
<div class="change-page">
  <div class="page-info">
    <h3>전체 댓글 관리</h3>
  </div>
  <table>
    <thead>
    <tr>
      <td style="width: 60%">댓글</td>
      <td style="width: 20%">등록일</td>
      <td style="width: 10%">관리</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data:${data}">
      <td>
        <a th:href="@{/postDetail(pidx=${data.pidx})}">
          <span class="title" th:text="${data.replyContent}"></span>
        </a>
      </td>
      <td th:text="${data.regdate}"></td>
      <td>
        <a th:href="@{manageReplies/deleteReply(ridx=${data.ridx})}">
          <input type="button" value="삭제">
        </a>
      </td>
    </tr>
    <tr th:if="${data.isEmpty()}">
      <td colspan="3">작성한 댓글이 없습니다</td>
    </tr>
    </tbody>
  </table>
  <div class="pagination">
    <ul>
      <li>
        <a th:class="${paging.startPage == 1} ? 'disabled' : ''"
           th:href="@{/admin/manageReplies(
                    nowPage=${paging.startPage-1},
                    cntPerPage=${paging.cntPerPage})}">&laquo;</a>
      </li>
      <li th:each="i : ${#numbers.sequence(paging.startPage, paging.endPage)}">
        <a th:href="@{/admin/manageReplies(nowPage=${i},cntPerPage=${paging.cntPerPage})}"
           th:class="${i} == ${paging.nowPage} ? 'active' : ''"
           th:text="${i}"></a>
      </li>
      <li>
        <a  th:class="${paging.endPage == paging.lastPage} ? 'disabled' : ''"
            th:href="@{/admin/manageReplies(
                    nowPage=${paging.endPage+1},
                    cntPerPage=${paging.cntPerPage})}">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>