<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/mainLayout}"
      layout:fragment="Content"
>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<title>테스트 페이지 </title>
	<link rel="stylesheet" th:href="@{/css/postDetail.css}">
</head>
<body>
	<div class="change-page">
		<div class="board-detail" th:each="post:${post}">
			<div class="title">
				<p id="title" th:text="${post.title}"></p>
			</div>
			<div class="extra">
				<div class="extra-middle">
					<span>작성자</span>
					<span class="writer-name" id="writer-name" th:text="${post.writer}"></span>
					<input type="hidden" name="category" id="category" th:value="${post.category}" />
					<input type="hidden" name="pidx" id="pidx" th:value="${post.pidx}" />
					<input type="hidden" name="idx" id="idx" th:value="${#authentication.principal.idx}" />
				</div>
			</div>
			<div class="content">
				<pre th:utext="${post.content}"></pre>
			</div>
			<div th:if="${vote != null and not #lists.isEmpty(vote)}" class="vote">
				<table>
					<thead>
						<tr>
							<td colspan="2">
								<span>(투표)</span>
								<span th:text="${vote.question}"></span>
								<input type="hidden" name="vidx" id="vidx" th:value="${vote.vidx}" />
								<input type="hidden" id="vote-check" th:value="${voteCheck}" />
							</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="voteSub:${voteSub}">
							<td>
								<button class="vote-sub" th:classappend="${votedSub == voteSub.vsidx ? 'selected' : ''}">
									<span th:text="${voteSub.answer}"></span>
									<input type="hidden" class="vsidx" th:value="${voteSub.vsidx}" />
								</button>
							</td>
							<td class="vote-sub-wrap">
								<span class="number-of-votes" th:text="${voteSub.numberOfVotes}"></span>
								<span class="number-of-votes">표</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="reply">
				<div class="reply-p">
					<p>댓글</p>
				</div>
				<div class="reply-wrap" th:each="reply:${reply}">
					<div class="reply-con-wrap">
						<div class="reply-con">
							<div class="reply-writer-and-regdate">
								<span class="reply-writer" th:text="${reply.replyWriter}"></span>
								<span class="reply-regdate" th:text="${reply.regdate}"></span>
							</div>
							<div class="reply-content-wrap">
								<div class="origin-reply-writer" th:if="${reply.originReplyWriter != null}">
									<p>@
										<span th:text="${reply.originReplyWriter}"></span>
									</p>
								</div>
								<input type="hidden" th:value="${reply.originReplyWriter}" />
								<pre class="reply-content" th:text="${reply.replyContent}"></pre>
							</div>
							<input type="hidden" class="reply-pidx" th:value="${post.pidx}" />
							<input type="hidden" name="idx" th:value="${#authentication.principal.idx}" />
							<input type="hidden" class="ridxDepth" th:value="${reply.ridxDepth}" />
							<div class="function-wrap">
								<p class="write-re-reply" style="cursor: pointer;">대댓글달기</p>
								<div class="update-delete-wrap" th:if="${#authentication.principal.idx == reply.idx}">
									<p class="update-reply" style="cursor: pointer;">수정</p>
									<a th:href="@{deleteReply(ridx=${reply.ridx})}">
										<p class="delete-reply">삭제</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="hiding-div" style="display: none;">
						<form method="post" action="updateReply">
							<input type="hidden" name="replyWriter" th:value="${#authentication.name}" />
							<textarea name="replyContent" th:text="${reply.replyContent}"></textarea>
							<input type="hidden" name="ridx" th:value="${reply.ridx}" />
							<input type="submit" class="hiding-div-btn" value="수정하기" />
						</form>
					</div>
					<div class="hiding-reply-div" style="display:none;">
						<form method="post" action="writeReReply">
							<input type="hidden" name="replyWriter" th:value="${#authentication.name}" />
							<input type="hidden" name="idx" th:value="${#authentication.principal.idx}" />
							<textarea name="replyContent"></textarea>
							<input type="hidden" name="pidx" th:value="${reply.pidx}"/>
							<input type="hidden" name="reRidxNum" th:value="${reply.ridx}"/>
							<input type="hidden" name="originReplyWriter" th:value="${reply.replyWriter}" />
							<input type="submit" class="hiding-div-btn" value="등록하기" />
						</form>
					</div>
				</div>
			</div>
			<div class="write-reply">
				<form method="post" action="/writeReply">
					<div>
						<label>댓글 작성</label>
						<input type="hidden" class="reply-writer" id="reply-writer" name="replyWriter"
							   th:value="${#authentication.name}" readonly/>
					</div>
					<div class="reply-content-wrap">
						<textarea name="replyContent" id="reply-content"></textarea>
					</div>
					<div class="reply-button-wrap">
						<input type="hidden" name="pidx" id="reply-pidx" th:value="${post.pidx}" />
						<input type="hidden" name="idx" th:value="${#authentication.principal.idx}" />
						<input type="submit" id="reply-button" class="reply-button" value="작성" />
					</div>
				</form>
			</div>
			<div class="heart-wrap">
				<button class="heart" id="push-heart">
					<input type="hidden" id="heart-check" th:value="${heart}" />
					<i style="color: rgb(241, 241, 241);"
					   class="fa-solid fa-heart" id="checked"></i>
					heart
				</button>
			</div>
		</div>
		<div class="button-wrap" th:if="${#authentication.principal.idx == post.idx}">
			<a th:href="@{updatePost(pidx=${post.pidx})}">
				<button>수정</button>
			</a>
<!--			<a th:href="@{deletePost(pidx=${post.pidx}, category=${post.category})}">-->
			<button id="delete-or-not">
				<span>삭제</span>
			</button>
<!--			</a>-->
		</div>
    </div>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>

    	// 투표 기능 관련
    	let pidx = $("#pidx").val();
		let idx = $("#idx").val();
		let vidx = $("#vidx").val();
		let voteCheck = $("#vote-check").val();

		// 이전에 투표를 했는지 확인하고 투표버튼 색 변경
<!--		if(voteCheck > 0) {-->
<!--			-->
<!--		}-->

    	$(document).on('click', '.vote-sub', function() {
    		let vsidx = $(this).find(".vsidx").val();
    		if(voteCheck == 0) {
    			// 이전에 하지 않은 투표인 경우
				$.ajax({
					url: '/vote',
					type: 'post',
					contentType: 'application/json',
					data: JSON.stringify({
						vidx: vidx,
						vsidx: vsidx,
						idx: idx,
						voteCheck: voteCheck
					}),
					success: function(data) {
						$(this).find(".vote-sub").css("color", "#B9E0FD");
						voteCheck = 1;
						alert("투표가 완료되었습니다");
					}
				})
    		} else {
    			alert("이미 투표를 완료하였습니다");
    		}
		});

    	// 추천 기능 관련
		let heartCheck = $("#heart-check").val();

		// 이전에 추천을 눌렀는지 확인하고 하트 색 변경
		if(heartCheck > 0) {
			$("#checked").css("color", "pink");
		} else {
			$("#checked").css("color", "rgb(241, 241, 241)");
		}

		$("#push-heart").click(function() {
			if(heartCheck > 0) {
				$.ajax({
					url: '/heartDown',
					type: 'post',
					contentType: 'application/json',
					data: JSON.stringify({
						pidx: pidx,
						idx: idx,
						heartCheck: heartCheck
					}),
					success: function(heart) {
						$("#checked").css("color", "rgb(241, 241, 241)");
						heartCheck = 0;
						alert("추천이 취소되었습니다");
					}
				})
			} else {
				$.ajax({
					url: '/heartUp',
					type: 'post',
					contentType: 'application/json',
					data: JSON.stringify({
						pidx: pidx,
						idx: idx,
						heartCheck: heartCheck
					}),
					success: function(heart) {
						$("#checked").css("color", "pink");
						heartCheck = 1;
						alert("게시물을 추천하였습니다");
					}
				})
			}
		});

		// 대댓글일 경우 댓글을 왼쪽으로 밀기
		$(document).ready(function() {
		  $(".reply-wrap").each(function() {
			var ridxDepth = $(this).find(".ridxDepth").val();
			if (ridxDepth == 2) {
			  $(this).removeClass("reply-wrap").addClass("re-reply-wrap");
			}
		  });
		});

		$(document).ready(function() {
			// 댓글 수정 창 열기
			$(document).on('click', '.update-reply', function() {
				var hidingDiv = $(this).parents(".reply-wrap").find(".hiding-div");
				var hidingDivReply = $(this).parents(".re-reply-wrap").find(".hiding-div");
				if (hidingDiv.css("display") == "none") {
					hidingDiv.show();
				} else if(hidingDivReply.css("display") == "none") {
					hidingDivReply.show();
				} else {
					hidingDiv.hide();
					hidingDivReply.hide();
				}
			});

			// 대댓글 작성 창 열기
			$(document).on('click', '.write-re-reply', function() {
				var hidingDiv = $(this).closest(".reply-wrap").find(".hiding-reply-div");
				if (hidingDiv.css("display") == "none") {
					hidingDiv.show();
				} else {
					hidingDiv.hide();
				}
			});

			$(document).on('click', '.write-re-reply', function() {
				var hidingDiv = $(this).closest(".re-reply-wrap").find(".hiding-reply-div");
				if (hidingDiv.css("display") == "none") {
					hidingDiv.show();
				} else {
					hidingDiv.hide();
				}
			});
		});

	// pidx를 담는 변수는 위에 있음
	let category = $("#category").val();

	$("#delete-or-not").click(function(){
		if(!confirm("삭제하시겠습니까?")) {
			alert("취소하였습니다");
		} else {
			$.ajax({
				url: 'deletePost',
				type: 'post',
				contentType: 'application/x-www-form-urlencoded',
				data: {pidx: pidx, category: category},
				success: function(data) {
					alert("삭제되었습니다");
					window.location.replace("http://localhost:8080/board/"+category);
				}
			})
		}
	})


    </script>
</body>
</html>





