<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/mainLayout}"
      layout:fragment="Content"
>
<!-- 전체 게시물에서 검색 -->
<head>
	<title>테스트 페이지</title>
	<link rel="stylesheet" th:href="@{/css/searchPosts.css}">
</head>
<body>
    <div class="change-page">
    	<div class="page-info">
    		<h3>검색된 게시물</h3>
    	</div>
          <div class="search-result">
            <div class="search-table">
              <table>
                <thead>
                  <tr>
                    <td style="width: 20%">카테고리</td>
                    <td style="width: 50%">제목</td>
                    <td style="width: 20%">글쓴이</td>
                    <td style="width: 10%">조회수</td>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="data:${data}">
                    <td th:text="${data.category == 'freeBoard' ? '자유게시판' :
                    (data.category == 'ent' ? '연예게시판' :
                    (data.category == 'hobby' ? '취미게시판' :
                    (data.category == 'counseling' ? '고민상담게시판': 'Daily')))}"></td>
                    <td>
                        <a th:href="@{/postDetail(pidx=${data.pidx})}"
                            class="title" th:text="${data.title}">
                        </a>
                    </td>
                    <td th:text="${data.writer}"></td>
                    <td th:text="${data.hit}">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <div class="pagination">
            <ul>
                <li>
                    <a th:class="${paging.startPage == 1} ? 'disabled' : ''"
                       th:href="@{/board/{category}(category=${category},
                    nowPage=${paging.startPage-1},
                    cntPerPage=${paging.cntPerPage})}">&laquo;</a>
                </li>
                <li th:each="i : ${#numbers.sequence(paging.startPage, paging.endPage)}">
                    <a th:href="@{/board/{category}(category=${category},nowPage=${i},cntPerPage=${paging.cntPerPage})}"
                       th:class="${i} == ${paging.nowPage} ? 'active' : ''"
                       th:text="${i}"></a>
                </li>
                <li>
                    <a  th:class="${paging.endPage == paging.lastPage} ? 'disabled' : ''"
                        th:href="@{/board/{category}(category=${category},
                    nowPage=${paging.endPage+1},
                    cntPerPage=${paging.cntPerPage})}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>